<VirtualHost *:80>
    ServerAdmin webmaster@{{ domain }}
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}

    ErrorLog ${APACHE_LOG_DIR}/{{ domain }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ domain }}_access.log combined

    DocumentRoot {{ public_html }}
    <Directory {{ public_html }}>
        Require all granted
        AllowOverride All
    </Directory>

    <IfModule mod_fastcgi.c>
        AddType application/x-httpd-fastphp5 .php
        Action application/x-httpd-fastphp5 /php5-fcgi
        Alias /php5-fcgi /usr/lib/cgi-bin/php5-http-{{ domain }}-fcgi
        FastCgiExternalServer /usr/lib/cgi-bin/php5-http-{{ domain }}-fcgi -socket /var/run/{{ domain }}.sock -pass-header Authorization
        <Directory /usr/lib/cgi-bin>
            Require all granted
        </Directory>
    </IfModule>
</VirtualHost>
<VirtualHost *:443>
    ServerAdmin webmaster@{{ domain }}
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}

    ErrorLog ${APACHE_LOG_DIR}/{{ domain }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ domain }}_access.log combined

    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/{{ domain }}.crt
    SSLCertificateKeyFile /etc/apache2/ssl/{{ domain }}.key

    DocumentRoot {{ public_html }}
    <Directory {{ public_html }}>
        Require all granted
        AllowOverride All
    </Directory>

    <IfModule mod_fastcgi.c>
        AddType application/x-httpd-fastphp5 .php
        Action application/x-httpd-fastphp5 /php5-fcgi
        Alias /php5-fcgi /usr/lib/cgi-bin/php5-https-{{ domain }}-fcgi
        FastCgiExternalServer /usr/lib/cgi-bin/php5-https-{{ domain }}-fcgi -socket /var/run/{{ domain }}.sock -pass-header Authorization
        <Directory /usr/lib/cgi-bin>
            Require all granted
        </Directory>
    </IfModule>
</VirtualHost>
